@keyframes animateStars {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes animateClouds {
    0% {
        transform: translateX(-100%) scale(1);
    }
    100% {
        transform: translateX(500%) scale(1.5);
        opacity: 0;
    }
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}