.hamburger {
    position: fixed;
    top: 40px;
    left: 40px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: all 0.5s;
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #f2f3f4;
    }
    span.long {
        width: 36px;
    }
}